@font-face {
	font-family: 'odin-lined';
	src: url(fonts/Norse-Bold.otf);
}

/* 
create account - #596d48;
inputs - #E5E7EB;
password need error class
:focus input class
 */

:root {
	--white-color: white;
	--olive-color: #596d48;
	--generic-box-shadow: 2px 2px 2px 1px rgba(197, 196, 196, 0.63);
	--left-width: 35%;
	--right-width: 65%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #F9FAFB;
}

input {
	outline: none;
	border: 1px solid #dcdfe4;
	border-radius: 4px;
	background-color: #fdfefe;
	padding: 4px 14px;
	height: 1.5rem;
	font-size: 16px;
	width: 200px;
}

input[type=text]:focus {
	border: 1px solid rgb(0, 0, 255);
	border-radius: 4px;
	background-color: var(--white-color);
	box-shadow: var(--generic-box-shadow);
}

input:invalid {
	border: 1px solid red;
	border-radius: 4px;
}

label {
	font-size: 0.85rem;
	font-weight: 500;
	letter-spacing: 1px;
}

 /* Container */

.container {
	display: flex;
}

.image-section {
	display: flex;
	flex: var(--left-width);
}

.white-section {
	flex: var(--right-width);
	z-index: 1;
}

/* Left side */
.image-odin {
	display: flex;
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	justify-content: center;
	align-items: center;
	padding: 15px;
	top: calc(100% - 520px);
}

.image-odin > img {
	width: 20%;
	height: 20%;
}

.image-odin > div {
	font-family: 'odin-lined';
	color: var(--white-color);
	font-size: 6rem;
}

.image-background {
	position: fixed;
	margin: 0 auto;
	z-index: -1;
	height: 100%;
	width: var(--left-width);
}

.image-credits {
	color: var(--white-color);
	position: fixed;
	top: 95%;
	left: 9.25%;
	font-size: 14px;
}

.image-credits a:link {
	color: var(--white-color);
}

/* Right side */

.form-paragraph {
	font-size: 24px;
	font-weight: 480;
	margin-top: 108px;
	margin-bottom: 24px;
	padding: 48px;
}

.form-data {
	font-size: 24px;
	box-shadow: 0 6px 4px -2px rgb(212, 212, 212), 
				0 -2px 4px -3px rgb(212, 212, 212);
	background-color: var(--white-color);
	opacity: 0.7;
	padding: 20px 48px 48px 48px;
}

.form-data > div {
	display: flex;
	padding-bottom: 12px;
}

.form-data > div:first-child {
	padding-bottom: 20px;
}

.form-data > div > div:nth-child(2) {
	margin-left: 84px;
}

.form-data > div:last-child {
	padding-bottom: 0;
}

.form-account {
	padding: 48px;
	margin-bottom: 120px;
}

.account-btn {
	background-color: var(--olive-color);
	box-shadow: var(--generic-box-shadow);
	color: var(--white-color);
	border-radius: 8px;
	font-size: 16px;
	padding: 16px 48px;
	margin-bottom: 32px;
	border-style: solid;
	border-width: 0px;
}

#error {
	color: red;
	font-size: 14px;
	position: absolute;
}